<!DOCTYPE html>
<html lang="de" ng-app="App">
<head>
	<meta charset=utf-8/>
	<title>Undine-Map</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
	<!-- build:css assets/css/bundle.css -->
	<link href='assets/bower_components/mapbox.js/mapbox.css' rel='stylesheet'/>
	<link href='assets/bower_components/leaflet.markercluster/dist/MarkerCluster.css' rel='stylesheet'/>
	<link href='assets/bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css' rel='stylesheet'/>
	<link href='assets/css/style.css' rel='stylesheet'/>
	<!-- endbuild -->
	<!-- build:js assets/js/bundle.js -->
	<script src='assets/bower_components/mapbox.js/mapbox.js'></script>
	<script src='assets/bower_components/leaflet.markercluster/dist/leaflet.markercluster.js'></script>
	<script src='assets/bower_components/angular/angular.min.js'></script>
	<script src='assets/bower_components/angular-sanitize/angular-sanitize.min.js'></script>
	<script src='assets/bower_components/ui-select/dist/select.min.js'></script>
	<script src='assets/js/index.js'></script>
	<!-- endbuild -->
</head>
<body ng-controller="AppController">

<div class="view">
	<div id="map"></div>
	<div id="info"></div>
</div>

<div class="sidebar">
	<h3>Country</h3>
	<ui-select multiple ng-model="selected.country" theme="select2">
		<ui-select-match placeholder="Filter country...">{{$item.name}}</ui-select-match>
		<ui-select-choices repeat="o in filters.country | propsFilter: {name: $select.search}">{{o.name||'Unknown'}}</ui-select-choices>
	</ui-select>

	<h3>Sector</h3>
	<ui-select multiple ng-model="selected.sector" theme="select2">
		<ui-select-match placeholder="Filter sector...">{{$item.name}}</ui-select-match>
		<ui-select-choices repeat="o in filters.sector | propsFilter: {name: $select.search}">{{o.name||'Unknown'}}</ui-select-choices>
	</ui-select>

	<h3>Size</h3>
	<ui-select multiple ng-model="selected.size" theme="select2">
		<ui-select-match placeholder="Filter size...">{{$item.name}}</ui-select-match>
		<ui-select-choices repeat="o in filters.size | propsFilter: {name: $select.search}">{{o.name||'Unknown'}}</ui-select-choices>
	</ui-select>

	<h3>Group</h3>
	<ui-select multiple ng-model="selected.group" theme="select2">
		<ui-select-match placeholder="Filter group...">{{$item.name}}</ui-select-match>
		<ui-select-choices repeat="o in filters.group | propsFilter: {name: $select.search}">{{o.name||'Unknown'}}</ui-select-choices>
	</ui-select>

	<h3>Type</h3>
	<ui-select multiple ng-model="selected.type" theme="select2">
		<ui-select-match placeholder="Filter type...">{{$item.name}}</ui-select-match>
		<ui-select-choices repeat="o in filters.type | propsFilter: {name: $select.search}">{{o.name||'Unknown'}}</ui-select-choices>
	</ui-select>

	<h3>Year</h3>
	<ui-select multiple ng-model="selected.year" theme="select2">
		<ui-select-match placeholder="Filter year...">{{$item.name}}</ui-select-match>
		<ui-select-choices repeat="o in filters.year | propsFilter: {name: $select.search}">{{o.name||'Unknown'}}</ui-select-choices>
	</ui-select>
</div>

</body>
</html>

